<div class="checkout">
  <div class="header">
    <h1>Checkout</h1>
  </div>

  <ng-container *ngIf="(serviceStatus$ | async) !== ServiceStatus.Loading; else loading">
    <mat-horizontal-stepper #stepper linear labelPosition="bottom">

      <mat-step [editable]="!stepperComplete" label="Shipping" state="shipping">
        <ng-container *ngIf="(serviceStatus$ | async) === ServiceStatus.Shipping; else loading">
          <app-checkout-shipping></app-checkout-shipping>
          <div class="nav-buttons">
            <button mat-flat-button color="primary" style="width: 100px;" (click)="onNextStep()">Next</button>
          </div>
        </ng-container>
      </mat-step>
      <mat-step [editable]="!stepperComplete" label="Billing" state="billing">
        <ng-container *ngIf="(serviceStatus$ | async) === ServiceStatus.Billing; else loading">
          <app-checkout-billing></app-checkout-billing>
          <div class="nav-buttons">
            <button mat-stroked-button color="primary" style="width: 100px;" (click)="onPreviousStep()">Back</button>
            <button mat-flat-button color="primary" style="width: 100px;" (click)="onNextStep()">Next</button>
          </div>
        </ng-container>
      </mat-step>
      <mat-step [editable]="false" label="Payment" state="payment">
        <ng-container *ngIf="(serviceStatus$ | async) === ServiceStatus.Payment; else loading">
          <ng-template matStepLabel>Payment</ng-template>
          <app-checkout-payment></app-checkout-payment>
          <div class="nav-buttons">
            <button mat-stroked-button color="primary" style="width: 100px;" (click)="onPreviousStep()">Back</button>
          </div>
        </ng-container>
      </mat-step>
      <mat-step [editable]="false" label="Complete" state="complete">
        <ng-container *ngIf="(serviceStatus$ | async) === ServiceStatus.Complete; else loading">
          <ng-template matStepLabel>Complete</ng-template>
          <app-checkout-complete></app-checkout-complete>
          <div class="nav-buttons">
            <button mat-button color="primary" [routerLink]="['/store']">Continue Shopping</button>
          </div>
        </ng-container>
      </mat-step>

      <ng-template matStepperIcon="shipping">
        <mat-icon>local_shipping</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="billing">
        <mat-icon>account_balance</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="payment">
        <mat-icon>payment</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="complete">
        <mat-icon>receipt</mat-icon>
      </ng-template>

    </mat-horizontal-stepper>
  </ng-container>

</div>

<ng-template #loading>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" warn type="ball-clip-rotate">
  </ngx-spinner>
</ng-template>
