:host {
  width: 100vw;
  div.checkout {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    .mobile & {
      width: 90%;
      margin-left: 5%;
    }
    .header {
      margin: 20px 0 10px 0;
      .mobile & {
        margin: 10px 0 0 0;
      }
      h1 {
        .mobile & {
          text-align: center;
        }
      }
    }
  }

  .nav-buttons {
    padding: 10px 0 0 0;
    text-align: right;
    .mobile & {
      padding: 0;
    }
    button {
      margin: 0 0 0 20px;
    }
  }

  ::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
  }

  
}
