:host {
  width: 100vw;
  div.product {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    .mobile & {
      width: 90%;
      margin-left: 5%;
    }
    .header {
      margin: 20px 0 10px 0;
      .mobile & {
        margin: 10px 0 0 0;
      }
      h1 {
        .mobile & {
          text-align: center;
        }
        .edit-button {
          width: 30px;
          height: 30px;
          mat-icon {
            font-size: 1.2em;
            margin-top: -5px;
          }
        }
      }
    }

    .product-body {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      border: 1px solid var(--color-accent);
      border-radius: 20px;
      padding: 20px;

      .mobile & {
        width: auto;
      }

      .product-body-row-1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 0 15px 0;

        .mobile & {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
        }

        .images {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          // .mobile & {
          //   flex-direction: column;
          // }

          .product-thumbnails {
            display: flex;
            flex-direction: column;
            cursor: pointer;

            .mobile & {
              display: flex;
              flex-direction: column;
            }

            img {
              width: 50px;
              border: 1px solid black;
              .mobile & {
                margin-left: 10%;
                width: 50px;
              }
            }
          }

          .product-image {
            > img {
              width: 250px;
              margin: 0 0 0 15px;
            }
          }
        }

        .product-info {
          margin: 0 15px 0 15px;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          flex: 1;
          font-size: 1.2em;

          .product-details-cart {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            .product-details {
              flex: 1;
              display: flex;
              flex-direction: column;
              flex-wrap: nowrap;

              .product-price {
                flex-shrink: 0;
                white-space: nowrap;
                font-size: 1.5em;
                line-height: normal;
                color: var(--color-warn);

                .mobile & {
                  font-size: 1em;
                  text-align: left;
                  color: var(--color-warn);
                }
              }

              .stock-message {
                font-size: 0.9em;
                margin: 0 0 10px 0;
                color: green;

                .low-stock {
                  color: rgb(212, 138, 0);
                }

                .out-of-stock {
                  color: rgb(222, 1, 1);
                }

                .mobile & {
                  font-size: 0.9em;
                }
              }
            }

            .product-specs {
              font-size: 0.9em;
              margin: 10px 0 0 0;
            }

            .product-cart {
              display: flex;
              flex-direction: column;
              flex-wrap: nowrap;
              text-align: center;
              margin: 10px 10px 10px 10px;

              .cart-button {
                margin: 0 0 10px 0;
              }
            }
          }

          .product-item-description {
            margin: 10px 0 0 0;
          }
        }

        .product-variants {
        }
      }

      .product-body-row-2 {
        .description {
          margin: 20px 0 20px 0;
          font-size: 1.2em;
        }
      }
    }

    .reviews {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      border: 1px solid var(--color-accent);
      border-radius: 20px;
      padding: 20px;
      margin-top: 20px;

      .mobile & {
        width: auto;
        margin-bottom: 10px;
      }

      p {
        font-size: 1.2em;
      }

      h2 {
        font-size: 1.4em;
      }
    }
  }
}
