<ng-container *ngIf="load && (product$ | async) as product; else loading">
  <div class="product">

    <div class="header">
        <h1>{{product.name}}: {{selected.name}}
        <button *ngIf="authService.isAdmin" class="edit-button" mat-mini-fab matTooltip="Edit product" aria-label="edit product"  routerLink="/warehouse/product/{{product.id}}">
          <mat-icon>edit</mat-icon>
        </button>
      </h1>
    </div>

    <div class="product-body">

      <div class="product-body-row-1">
        <div class="images">
          <div class="product-thumbnails">
            <div class="image-icons" *ngFor="let image of selected.images">
              <img src="{{getImage(image)}}" (mouseenter)="changeImage(image)">
            </div>
          </div>
          <div class="product-image">
            <img src="{{getImage(displayedImage)}}">
          </div>
        </div>

        <div class="product-info">

          <div class="product-details-cart">
            <div class="product-details">
              <div class="product-price">CDN$ {{selected.unitPrice}}</div>

              <div class="stock-message">
                <ng-container *ngTemplateOutlet="selected.stockQuantity === 0 ? outOfStock : selected.stockQuantity >= selected.reorderLevel ? inStock : lowStock"></ng-container>

                <ng-template #inStock>
                  <span>{{selected.stockQuantity}} in stock</span>
                </ng-template>
                <ng-template #lowStock>
                  <span class="low-stock">Only {{selected.stockQuantity}} left in stock</span>
                </ng-template>
                <ng-template #outOfStock>
                  <span class="out-of-stock">None in stock (more on the way)</span>
                </ng-template>

              </div>

              <div>
                Model: {{selected.model}}
              </div>

              <div class="product-specs">
                <div *ngFor="let spec of selected.specifications" class="product-spec">
                  <span class="spec-name">{{spec.name}}: </span>
                  <span class="spec-value">{{spec.value}}</span>
                </div>
              </div>

            </div>

            <div class="product-cart">
              <div>
                <button class="cart-button" mat-fab matTooltip="Add to cart" matTooltipPosition="above" aria-label="add to cart" (click)="addToCart(product, selected)" [disabled]="selected.stockQuantity == 0">
                  <mat-icon>add_shopping_cart</mat-icon>
                </button>
              </div>
              <div class="product-quantity">
                <counter-input [min]="1" [max]="selected.stockQuantity" value="{{quantity}}" (changeEvent)="quantity = $event">
                </counter-input>
              </div>
            </div>
          </div>

          <div class="product-item-description" [innerHTML]="selected.description"></div>

        </div>

        <div class="product-variants">
          <mat-button-toggle-group vertical name="variants" value="{{selected.id}}">
            <mat-button-toggle *ngFor="let productItem of product.productItems" value="{{productItem.id}}" (change)="changeSelectedItem(productItem.id)">{{productItem.name}}</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="product-body-row-2">


        <div class="description">
          <h2>Description</h2>
          <p [innerHTML]="product.description"></p>
        </div>

      </div>
    </div>

    <div class="reviews">
      <h2>Reviews</h2>
      <app-product-reviews [product]="product"></app-product-reviews>
    </div>

  </div>
</ng-container>

<ng-template #loading>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" warn type="ball-clip-rotate">
  </ngx-spinner>
</ng-template>
