div.counter-input {
  $height: 25px;

  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  height: $height;
  margin: 2px;
  background-color: transparent;
  border-radius: 5px;
  overflow: hidden;

  button,
  input {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  button.up,
  button.down {
    height: 100%;
    width: $height;
    padding-top: 2px;
    justify-content: center;
    background-color: rgb(63, 81, 181);
    color: rgb(255, 255, 255);
    cursor: pointer;
    .mat-icon {
      font-size: 1.4em;
    }

    .mobile & {
      background-color: rgb(181, 63, 63);
    }
  }

  input.value {
    height: 100%;
    width: ($height * 1.2);
    flex-grow: 1;
    text-align: center;
    font-size: ($height / 1.5);
    cursor: default;
    background-color: rgba(63, 81, 181, 0.124);
  }
}
