<div class="counter-input">
  <button class="down" (click)="decrease()"><mat-icon>remove</mat-icon></button>
  <input type="text" class="value" readonly [value]="value" />
  <button class="up" (click)="increase()"><mat-icon>add</mat-icon></button>
</div>