<div class="wishlists">
  <div class="header">
    <h1>Your Wishlists</h1>
  </div>

  <!-- TODO V2: ▼ DELETE THIS ▼ -->
  <div class="under-construction">
    <div></div>
    <mat-icon>construction</mat-icon>
  </div>

</div>
