<ng-container *ngIf="load && (data$ | async) as data; else loading">
  <div class="address">
    <div class="header">
      <h1>
        <button class="back-button" routerLink="/store/account/addresses">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span>Address</span>
      </h1>
 
    </div>
    <form [formGroup]="form" (ngSubmit)="saveAddress()">
      <div class="action">
        <p>{{id ? 'CHANGE ADDRESS' : 'CREATE ADDRESS'}}</p>
      </div>
      <div class="fields">
        <mat-form-field appearance="outline" style="width:100% !important">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description">
          <mat-error *ngIf="form.controls.city.errors?.required">
            Please enter a description
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width:100% !important">
          <mat-label>Line 1</mat-label>
          <input matInput formControlName="line1">
          <mat-error *ngIf="form.controls.city.errors?.required">
            Please enter an address
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width:100% !important">
          <mat-label>Line 2</mat-label>
          <input matInput formControlName="line2">
        </mat-form-field>

        <mat-form-field appearance="outline" style="width:100% !important">
          <mat-label>City</mat-label>
          <input matInput formControlName="city">
          <mat-error *ngIf="form.controls.city.errors?.required">
            Please enter a city
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width:100% !important">
          <mat-label>Postal Code/ZIP</mat-label>
          <input matInput formControlName="postalZip">
          <mat-error *ngIf="form.controls.city.errors?.required">
            Please enter a postal code/ZIP
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width:100% !important">
          <mat-label>Country</mat-label>
          <mat-select formControlName="country" [(value)]="address.country" [compareWith]="compareCountries">
            <mat-option *ngFor="let country of countries" [value]="country">
              {{country.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width:100% !important">
          <mat-label>Region</mat-label>
          <mat-select #region formControlName="region" [(value)]="address.region" [compareWith]="compareRegions">
            <mat-option *ngFor="let region of country.regions" [value]="region">
              {{region.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="buttons">
          <button class="cancel" mat-button type="submit" color="primary" routerLink="/store/account/addresses">Cancel</button>
          <button class="save" mat-flat-button type="submit" [disabled]="!form.valid" color="primary">Save</button>
        </div>
      </div>
    </form>
  </div>
</ng-container>

<ng-template #loading>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" warn type="ball-clip-rotate">
  </ngx-spinner>
</ng-template>
