:host {
  width: 100vw;
  div.address {
    width: 50%;
    height: 100%;
    margin-left: 25%;
    margin-bottom: 25px;
    .mobile & {
      width: 90%;
      margin-left: 5%;
    }
    .header {
      display: flex;
      align-self: flex-end;
      margin: 20px 0 10px 0;
      .mobile & {
        margin: 10px 0 0 0;
      }

      button {
        vertical-align: bottom;
        margin-right: 15px;
      }
      button:hover {
        cursor: pointer;
      }
    }
    form {
      border: 1px solid var(--color-accent);;
      border-radius: 10px;
      padding: 25px;

      .action {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        p {
          flex-grow: 1;
        }
      }

      p {
        color: var(--color-secondary-text);
        margin: 0 0 20px 0;
        font-size: 0.9em;
        font-weight: 500;
      }

      .buttons {
        padding: 10px 0 0 0;
        text-align: right;
        .mobile & {
          padding: 0;
        }
        button {
          margin: 0 0 0 20px;
        }
      }
    }
  }
}
