:host {
  width: 100vw;

  .square {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid var(--color-accent);
    border-radius: 15px;
    padding: 10px 25px 25px 25px;
    margin: 10px 5px 5px 5px;
    .mobile & {
      margin: 0px 0px 0px 0px;
    }

    >div {
      &.disabled {
        opacity: 0.4;
        pointer-events: none;
      }
    }

    * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    body,
    html {
      background-color: #f7f8f9;
      color: #373f4a;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: normal;
      height: 100%;
    }

    button {
      border: 0;
      font-weight: 500;
    }

    fieldset {
      margin: 0;
      padding: 0;
      border: 0;
    }

    #form-container {
      position: relative;
      width: 300px;
      margin: 0 auto;
      // top: 50%;
      // transform: translateY(-50%);
    }

    ::ng-deep .third {
      float: left;
      width: calc((100% - 32px) / 3);
      padding: 0;
      margin: 0 16px 26px 0;
    }

    ::ng-deep .third:last-of-type {
      margin-right: 0;
    }

    /* Define how SqPaymentForm iframes should look */
    ::ng-deep .sq-input {
      height: 50px;
      box-sizing: border-box;
      border: 1px solid var(--color-divider);
      background-color: transparent;
      border-radius: 5px;
      display: inline-block;
      -webkit-transition: border-color 0.2s ease-in-out;
      -moz-transition: border-color 0.2s ease-in-out;
      -ms-transition: border-color 0.2s ease-in-out;
      transition: border-color 0.2s ease-in-out;
    }

    ::ng-deep .sq-input:hover:not(:focus) {
      border: 2px solid;
    }

    ::ng-deep .sq-input--focus {
      border: 2px solid var(--color-primary) !important;
    }

    ::ng-deep .sq-input--error {
      border: 2px solid var(--color-warn);
    }

    ::ng-deep #sq-card-number {
      margin-bottom: 16px;
    }

    /* Customize the "Pay with Credit Card" button */
    .button-credit-card {
      width: 100%;
      height: 56px;
      margin-top: 10px;
      background: var(--color-primary);
      border-radius: 6px;
      cursor: pointer;
      display: block;
      color: white;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      letter-spacing: 0;
      text-align: center;
      -webkit-transition: background 0.2s ease-in-out;
      -moz-transition: background 0.2s ease-in-out;
      -ms-transition: background 0.2s ease-in-out;
      transition: background 0.2s ease-in-out;
    }

    .button-credit-card:hover {
      //background-color: var(--color-primary);
    }

    .payment-types {
      margin: 0 0 10px 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }
}
