<div class="square">
  <div [ngClass]="{'disabled': !checkoutService.enablePayment}">
    <div class="payment-types">
      <img src="/assets/images/payments/payment-visa.png">
      <img src="/assets/images/payments/payment-mastercard.png">
      <img src="/assets/images/payments/payment-amex.png">
      <img src="/assets/images/payments/payment-discover.png">
    </div>
    <div id="form-container">
      <div id="sq-card-number"></div>
      <div class="third" id="sq-expiration-date"></div>
      <div class="third" id="sq-cvv"></div>
      <div class="third" id="sq-postal-code"></div>
      <button id="sq-creditcard" class="button-credit-card" onclick="onGetCardNonce(event)">Pay</button>
    </div>
  </div>
</div>
