<div>
  <ng-container *ngIf="loaded && (data$ | async); else loading">

    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

      <div class="product">

        <div class="product-details">
          <h2>Product Details</h2>

          <mat-form-field appearance="outline">
            <mat-label>Product Name</mat-label>
            <input matInput formControlName="name" required>
            <!-- <mat-hint>The name of the product. No specifics such as model numbers, capacity, etc.</mat-hint> -->
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Product Description</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" formControlName="description" required></textarea>
            <!-- <mat-hint>Desription of the overall product. Product item specific descriptions will be added as needed when displayed.</mat-hint> -->
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Supplier</mat-label>
            <mat-select formControlName="supplier" [(value)]="product.supplier" [compareWith]="compareSuppliers">
              <mat-option *ngFor="let supplier of suppliers; let i = index" [value]="supplier">
                {{supplier.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Manufacturer</mat-label>
            <mat-select formControlName="manufacturer" [(value)]="product.manufacturer" [compareWith]="compareManufacturers">
              <mat-option *ngFor="let manufacturer of manufacturers;" [value]="manufacturer">
                {{manufacturer.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Product Keywords</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="4" formControlName="keywords" required></textarea>
            <!-- <mat-hint>Enter keywords relating to the product as a whole, to be used when searching for this item, e.g. "Pump Water Fish Banana"</mat-hint> -->
          </mat-form-field>
        </div>

        <div class="product-images">
          <h2>Product Image</h2>
          <div class="gallery">
            <button class="gallery-image" type="button" (click)="openUploadDialog()">
              <div class="add-image">
                <mat-icon>add_photo_alternate</mat-icon>
              </div>
            </button>
            <ng-container *ngIf="productImages">
              <button class="gallery-image" *ngFor="let image of productImages; let i=index" [ngClass]="{selected: (product.image?.id === image.id)}" type="button" (click)="onSelectProductImage(image)">
                <img src='{{getImage(image)}}' />
              </button>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="save-button">
        <button mat-raised-button color="primary" type="submit" style="width: 100px;">Save</button>
      </div>

      <div formArrayName="productItems" class="product-items">

        <div class="header">
          <div>
            <h2>Product Options</h2>
          </div>
          <div>
            <button type="button" matTooltip="Add new" (click)="onAddProductItem()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>

        <div class="product-item" *ngFor="let productItem of product.productItems; let i=index" [formGroupName]="i">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>{{!productItem.name ? 'New' : productItem.name + ' ' + productItem.model}}</mat-panel-title>
              </mat-expansion-panel-header>

              <div class="product-item-panel">
                <div class="product-item-details">

                  <mat-form-field appearance="outline" class="option">
                    <mat-label>Product Name/Variant</mat-label>
                    <input matInput formControlName="name" required>
                    <!-- <mat-hint>The name of this product variant.</mat-hint> -->
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="option">
                    <mat-label>Product Model</mat-label>
                    <input matInput formControlName="model" required>
                    <!-- <mat-hint>The specific model of the product.</mat-hint> -->
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="option">
                    <mat-label>Product SKU</mat-label>
                    <input matInput formControlName="sku">
                    <!-- <mat-hint>The SKU of this product item.</mat-hint> -->
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="option">
                    <mat-label>Product UPC</mat-label>
                    <input matInput formControlName="upc">
                    <!-- <mat-hint>The UPC of this product item.</mat-hint> -->
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="option">
                    <mat-label>Product Item Description</mat-label>
                    <textarea matInput formControlName="description" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" required></textarea>
                    <!-- <mat-hint>Desription of this model/variant. Should be product item specifics.</mat-hint> -->
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="option">
                    <mat-label>Product Item Keywords</mat-label>
                    <textarea matInput formControlName="keywords" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="4" required></textarea>
                    <!-- <mat-hint>Enter keywords relating to this model/variant, e.g. "Pump Water Fish Banana".</mat-hint> -->
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="option">
                    <mat-label>Cost</mat-label>
                    <input matInput type="number" class="example-right-align" formControlName="unitPrice" required>
                    <span matPrefix>$&nbsp;</span>
                    <!-- <mat-hint>Enter the cost of this model/variant of the product.</mat-hint> -->
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="option">
                    <mat-label>Weight</mat-label>
                    <input matInput type="number" class="example-right-align" formControlName="weight" required>
                    <span matPrefix>kg&nbsp;</span>
                    <!-- <mat-hint>Enter the weight of this model/variant of the product.</mat-hint> -->
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="option">
                    <mat-label>Quantity</mat-label>
                    <input matInput type="number" class="example-right-align" formControlName="stockQuantity" required>
                    <span matPrefix></span>
                    <!-- <mat-hint>Enter the amount of this model/variant of the product in stock.</mat-hint> -->
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="option">
                    <mat-label>Reorder Level</mat-label>
                    <input matInput type="number" class="example-right-align" formControlName="reorderLevel" required>
                    <span matPrefix></span>
                    <!-- <mat-hint>Enter the number at which a reorder alert should be issued for this product item.</mat-hint> -->
                  </mat-form-field>

                  <div class="sub-header">
                    <div>
                      <h3>Specifications</h3>
                    </div>
                    <div>
                      <button type="button" matTooltip="Add new" (click)="onAddSpecification(productItem, i)">
                        <mat-icon>add</mat-icon>
                      </button>
                    </div>
                  </div>
                  <div formArrayName="specifications">

                    <mat-accordion>
                      <mat-expansion-panel *ngFor="let specification of productItem.specifications; let s=index">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{!specification.name ? 'New' : specification.name + ': ' + specification.value}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div [formGroupName]="s">
                          <mat-form-field appearance="outline" class="option">
                            <mat-label>Specification Name</mat-label>
                            <input matInput formControlName="name" required>
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="option">
                            <mat-label>Specification Value</mat-label>
                            <input matInput formControlName="value" required>
                          </mat-form-field>
                        </div>
                        <div class="right-button">
                          <button mat-stroked-button type="button" color="warn" (click)="onDeleteSpecification(productItem, specification, i, s)">Delete</button>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>

                </div>

                <div class="product-images">
                  <h2>Product Option Images</h2>
                  <div class="gallery">
                    <button class="gallery-image" type="button" (click)="openUploadDialog()">
                      <div class="add-image">
                        <mat-icon>add_photo_alternate</mat-icon>
                      </div>
                    </button>
                    <ng-container *ngIf="productImages">
                      <button class="gallery-image" *ngFor="let image of productImages; let x=index" [ngClass]="{selected: (imageExists(productItem, image))}" type="button" (click)="onSelectProductItemImage(productItem, image, i)">
                        <img src='{{getImage(image)}}' />
                      </button>
                    </ng-container>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

        </div>

      </div>

    </form>
  </ng-container>

  <ng-template #loading>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" warn type="ball-clip-rotate">
    </ngx-spinner>
  </ng-template>
</div>
