:host {
  width: 100vw;
  
  .header {
    margin: 20px 0 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 10px 0 5px;
    
    div:nth-child(1) {
      flex: 1;
    }

    h3 {
      font-size: 1.1em;
      font-weight: 600;
    }
    mat-icon {
      color: var(--color-accent);
      cursor: pointer;
    }
  }
  
  div.product {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100%;
    margin: 20px 30px 0px 30px;

    .product-details {
      box-sizing: border-box;
      border: 1px solid var(--color-accent);
      border-radius: 20px;
      margin: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }

  div.save-button {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    margin: 0 0 0 0;
    text-align: right;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: var(--color-background);
    button {
      margin: 20px 50px 30px 0;
    }
  }

  div.product-items {
    margin: 0px 40px 20px 40px;
    padding: 20px;
    border: 1px solid var(--color-accent);
    border-radius: 20px;

    div.product-item {
      mat-expansion-panel {
        width: 100%;
        mat-panel-title {
          font-size: 1.1em;
          font-weight: 500;
        }
      }

      div.product-item-panel {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        // height: 100%;
        // width: 90%;
        //margin: 20px 5% 20px 5%;

        .header {
          margin: 20px 0 10px 0;
          .mobile & {
            margin: 10px 0 0 0;
          }

          h1 {
            .mobile & {
            }
          }
        }

        .product-item-details {
          box-sizing: border-box;
          border: 1px solid var(--color-accent);
          border-radius: 20px;
          margin: 10px;
          padding: 20px;
          display: flex;
          flex-direction: column;
          flex: 1;

          mat-expansion-panel {
            width: 100%;
            mat-panel-title {
              font-size: 1.0em;
              font-weight: 500;
            }
          }

          .sub-header {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin: 0 10px 0 5px;
            
            div:nth-child(1) {
              flex: 1;
            }

            h3 {
              font-size: 1.1em;
              font-weight: 600;
            }
            mat-icon {
              color: var(--color-accent);
              cursor: pointer;
            }
          }

          .right-button {
            text-align: right;
          }
        }
      }
    }
  }

  .product-images {
    box-sizing: border-box;
    border: 1px solid var(--color-accent);
    border-radius: 20px;
    margin: 10px;
    width: 30%;
    padding: 20px 10px 20px 20px;
    h2 {
      text-align: center;
    }
    .gallery {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      button.gallery-image {
        border: 1px solid var(--color-accent);
        border-radius: 10px;
        margin: 0px 10px 10px 0;
        padding: 10px;
        img {
          width: 100px;
        }
        .add-image mat-icon {
          font-size: 100px;
          height: 100px;
          width: 100px;
          color: var(--color-secondary-text);
        }
      }
      button.gallery-image:not(.selected):hover {
        cursor: pointer;
        box-shadow: 0 0 2px 1px var(--color-accent);
      }
      .selected {
        box-shadow: 0 0 0 3px var(--color-accent);
      }
    }
  }

  mat-form-field {
    width: 100%;
  }
}
