:host {
  width: 100vw;
  div.orders {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    .mobile & {
      width: 90%;
      margin-left: 5%;
    }
    .header {
      margin: 20px 0 10px 0;
      .mobile & {
        margin: 10px 0 0 0;
      }
      h1 {
        .mobile & {
          text-align: center;
        }
      }
    }
  }

  .order-header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    div {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      font-size: 0.9em;

      span:nth-child(1) {
        width: 160px;
        .mobile & {
          width: 120px;
        }
      }
      span:nth-child(2) {
        width: 120px;
      }
      // span:nth-child(3) {

      // }

    }

    div:nth-child(1) {
      font-weight: 100;
    }
    div:nth-child(2) {
      font-weight: 500;
    }
  }
}
