<ng-container *ngIf="(orders$ | async) as orders; else loading">
  <div class="orders">
    <div class="header">
      <h1>Your Orders</h1>
    </div>

    <mat-accordion #accordion="matAccordion" [multi]="false">
      <mat-expansion-panel *ngFor="let order of orders">
        <mat-expansion-panel-header [collapsedHeight]="'75px'">
          <div class="order-header">
            <div>
              <span>ORDER PLACED</span><span>TOTAL</span><span>STATUS</span>
            </div>
            <div>
              <span>{{order?.date | date:'MMMM d, yyyy'}}</span>
              <span>CDN$ {{order?.grandTotal | number:'.2-2'}}</span>
              <span>{{order?.status.title}}</span>
            </div>
          </div>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-order [order]="order"></app-order>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</ng-container>

<ng-template #loading>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" warn type="ball-clip-rotate">
  </ngx-spinner>
</ng-template>
