:host {
  width: 100vw;
  div.reviews {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    .mobile & {
      width: 90%;
      margin-left: 5%;
    }
    .header {
      margin: 20px 0 10px 0;
      .mobile & {
        margin: 10px 0 0 0;
      }
      h1 {
        .mobile & {
          text-align: center;
        }
      }
    }
  }

  .review-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      width: 75px;
    }

    .product-title {
      display: flex;
      flex-direction: column;
      font-size: 1.2em;
      font-weight: 700;
      margin: 0 0 0 20px;

      :nth-child(2) {
        font-size: 1em;
        font-weight: 400;
      }
    }
  }

  .review-body {
    margin: 0 20px 0 20px; 
    
    .review-title {
      font-size: 1.3em;
      font-weight: 500;
      margin: 20px 0 4px 0; 
    }

    .verified-purchase{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      margin: 3px 0 3px 0;

      > mat-icon {
        color: green;
      }
      > span {
        margin: 2px 0 0 6px;
      }

    }

    .rating {
      margin: 10px 0 10px 0;
      color: rgb(248, 197, 13);
      .mat-icon {
        font-size: 1.3em;
        margin-right: -8px;
      }
    }

    .review-description {
      margin: 10px 0 10px 0;
      font-size: 1.2em;
      overflow-wrap: break-word;
    }

    .nav-buttons {
      padding: 10px 0 0 0;
      text-align: right;
      .mobile & {
        padding: 0;
      }
      button {
        margin: 0 0 0 20px;
      }
    }
  }


}
