<ng-container *ngIf="(reviews$ | async) as reviews; else loading">
  <div class="reviews">
    <div class="header">
      <h1>Your Reviews</h1>
    </div>

    <mat-accordion #accordion="matAccordion" [multi]="true">
      <mat-expansion-panel *ngFor="let review of reviews">
        <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'100px'">
          <div class="review-header">
            <div>
              <span><img src="{{getImage(review.product.image)}}"></span>
            </div>
            <div class="product-title">
              <div><span>{{review.product.name}} {{review.product.item.name}}</span></div>
              <div><span>{{review.product.item.model}}</span></div>
            </div>
          </div>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div class="review-body">
            <div class="review-title">{{review.title}}</div>
            <div class="review-date">{{review.date | date:'MMMM d, yyyy'}}</div>
            <div class="rating">
              <ng-container *ngFor="let item of [].constructor(5); let i = index">
                <mat-icon *ngIf="i < review.rating">star</mat-icon>
                <mat-icon *ngIf="i >= review.rating">star_outline</mat-icon>
              </ng-container>
            </div>
            <div *ngIf="review.verifiedPurchase" class="verified-purchase">
              <mat-icon>verified</mat-icon><span>Verified Purchase</span>
            </div>
            <div class="review-description">{{review.description}}</div>
            <div class="nav-buttons">
              <!-- <button mat-flat-button color="primary" style="width: 100px;" routerLink="/store/account/reviews/review/{{review.product.id}}/{{review.product.item.id}}/{{review.id}}">Edit</button> -->
            </div>
          </div>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</ng-container>

<ng-template #loading>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" warn type="ball-clip-rotate">
  </ngx-spinner>
</ng-template>
