<div class="userTable">
  <ng-container *ngIf="loaded && (account$ | async) as account; else loading">
    <table mat-table [dataSource]="accounts" class="mat-elevation-z8">
      <div class="tableRow">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID. </th>
          <td mat-cell *matCellDef="let account"> {{account.id}} </td>
        </ng-container>

        <!-- Username Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let account"> {{account.username}} </td>
        </ng-container>

        <!-- Full Name Column -->
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef> Full Name </th>
          <td mat-cell *matCellDef="let account"> {{account.fullName}} </td>
        </ng-container>
        
        <!-- Email Column -->
        <ng-container matColumnDef="preferredName">
          <th mat-header-cell *matHeaderCellDef> Preferred Name </th>
          <td mat-cell *matCellDef="let account"> {{account.preferredName}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let account"> {{account.email}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/warehouse/accounts/userAccount/', row.id]"></tr>
      </div>
    </table>
  </ng-container>
  <ng-template #loading>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" warn type="ball-clip-rotate">
    </ngx-spinner>
  </ng-template>
</div>
