<div>
  <ng-container *ngIf="category$ | async as categories">
    <div>
      <button mat-raised-button color="primary" (click)="createCategory()">Add New Category</button>
      <button mat-raised-button color="primary" (click)="editCategory()">Edit Existing Category</button>
    </div>

    <div id="edit" class="edit">
      <mat-form-field appearance="fill">
        <mat-label>Categories</mat-label>
        <select matNativeControl required (ngModelChange)="categorySelect($event)" [ngModel]="category">
          <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
        </select>
      </mat-form-field>
    </div>

    <div class="category" *ngIf="optionSelected;">
      <h2>Category</h2>
      <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field appearance="fill" class="option">
            <mat-label>Category Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <!-- <button mat-raised-button mat-button color="warn" type="button" (click)="deleteCategory(categoryForm.controls)" *ngIf="editing">Delete</button> -->
        </div>

        <mat-divider></mat-divider>
        <h2>Subcategories</h2>
        <button mat-raised-button color="primary" type="button" (click)="addSubcategory()">Add Subcategory</button>

        <div formArrayName="subcategories">
          <div *ngFor="let subcategoryControl of subcategoriesForm.controls; let i=index">
            <div [formGroupName]="i">
              <div>
                <mat-form-field appearance="fill" class="option">
                  <mat-label>Subcategory Name</mat-label>
                  <input matInput formControlName="name">
                </mat-form-field>
                <!-- <button mat-raised-button mat-button color="warn" type="button" (click)="deleteSubcategory(subcategoryControl)" *ngIf="editing">Delete</button> -->
              </div>
            </div>
          </div>
        </div>
        <button mat-raised-button color="primary" type="submit">Save Category</button>
      </form>
    </div>

  </ng-container>

  <ng-template #loading>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" warn type="ball-clip-rotate">
    </ngx-spinner>
  </ng-template>
</div>
