:host {
  width: 100vw;
  div.addresses {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    .mobile & {
      width: 90%;
      margin-left: 5%;
    }
    .header {
      margin: 20px 0 10px 0;
      .mobile & {
        margin: 10px 0 0 0;
      }
      h1 {
        .mobile & {
          text-align: center;
        }
      }
    }
  }

  div.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .mobile & {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }

    button {
      display: inline-grid;
      position: relative;
      color: var(--color-text);
      margin: 5px;
      padding: 20px;
      width: 250px;
      text-align: left;
      border: 1px solid var(--color-accent);
      border-radius: 6px;
      cursor: pointer;
      .mobile & {
        flex-grow: 1;
        padding: 10px;
        margin: 0 20px 10px 20px;
      }
      .set-default {
        span {
          color: var(--color-primary);
          position: absolute;
          right: 10px;
          top: 105px;
          font-size: 0.9em;
          .mobile & {
            right: 10px;
            top: 80px;
            font-size: 1em;
          }
          &:hover {
            font-weight: 500;
          }
          sup {
            padding: 0 3px 0 3px;
            text-transform: uppercase;
            font-weight: 400;
            background-color: var(--color-text);
            color: var(--color-background);
            border-radius: 3px;
          }
        }
      }
      .button-icon {
        position: relative;
        color: var(--color-text);
        &.delete {
          color: var(--color-warn);
          mat-icon {
            position: absolute;
            right: -17px;
            top: -17px;
            font-size: 30px;
            width: 30px;
            .mobile & {
              right: -7px;
              top: -7px;
              font-size: 35px;
              width: 35px;
            }
          }
        }
      }

      .button-title {
        font-size: 1.3em;
        font-weight: 500;
        align-self: flex-end;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .button-address {
        font-size: 1.2em;
        font-weight: 200;
        align-self: flex-start;
      }
    }
    button:hover {
      background-color: var(--color-hover);
    }
  }
}
