  <ng-container *ngIf="(addresses$ | async) as addresses; else loading">
  <div class="addresses">

    <div class="header">
      <h1>Your Addresses</h1>
    </div>

    <div class="buttons">
      <button routerLink="/store/account/addresses/address" skipLocationChange>
        <div class="button-icon">
          <mat-icon matTooltip="Add">add_box</mat-icon>
        </div>
        <div class="button-title">Add address</div>
        <div class="button-address">Add a new address...</div>
      </button>

      <button *ngFor="let address of addresses" routerLink="/store/account/addresses/address/{{address.id}}" skipLocationChange>
        <div class="button-icon delete">
          <mat-icon (click)="deleteAddress($event, address)" matTooltip="Remove">clear</mat-icon>
        </div>
        <div class="set-default">
          <span *ngIf="address.id !== account.address?.id" (click)="defaultAddress($event, address)">Set as default</span>
          <span *ngIf="address.id === account.address?.id"><sup>DEFAULT</sup></span>
        </div>
        <div class="button-title">
          <span>{{address?.description}}</span>
        </div>
        <div class="button-address">
          <div>{{address?.line1}}</div>
          <div>{{address?.line2}}</div>
          <div>{{address?.city}}, {{address?.region.code}}, {{address?.postalZip}}</div>
          <div>{{address?.country.name}}</div>
        </div>
      </button>
    </div>

  </div>
</ng-container>
<ng-template #loading>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" warn type="ball-clip-rotate">
  </ngx-spinner>
</ng-template>
