.catalog-item {
  display: flex;
  flex-direction: column;
  margin: 5px 15px 5px 15px;
  width: 250px;
  .mobile & {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0 0 6px 0;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
  }

  .product-image {
    text-align: center;
    img {
      width: 240px;
      align-self: center;
      .mobile & {
        width: 150px;
        margin: 5px 10px 5px 20px;
      }
    }
  }
  
  .product-details {
    .title {
      font-size: 1.3em;
      font-weight: 400;
      height: 60px;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      .mobile & {
        margin: 6px 0 6px 3px;
        font-size: 1.2em;
      }
    }

    .stock-message {
      font-size: 1em;
      color: green;
      .low-stock {
        color: rgb(212, 138, 0);
      }
      .out-of-stock {
        color: rgb(222, 1, 1);
      }
      .mobile & {
        font-size: 0.9em;
      }
    }

    .spacer {
      flex-grow: 1;
    }

    .rating {
      color: rgb(248, 197, 13);
      .mat-icon {
        font-size: 1.3em;
        margin-right: -8px;
      }
    }

    .price {
      font-size: 1.5em;
      font-weight: 400;
      sup {
        font-size: 0.5em;
        font-weight: normal;
      }
    }
  }
}
