<div class="catalog-item" routerLink="/store/product/{{this.catalogItem.id}}/{{this.catalogItem.productItem.id}}">

  <div class="product-image">
    <img mat-card-image src="{{getImage(catalogItem.image)}}">
  </div>

  <div class="product-details">
    <div class="title">{{ catalogItem.productName }} {{catalogItem.productItem.name}}</div>

    <div class="rating">
      <span>
        <ng-container *ngFor="let item of [].constructor(5); let i = index">
          <mat-icon *ngIf="i < catalogItem.productItem.averageRating">star</mat-icon>
          <mat-icon *ngIf="i >= catalogItem.productItem.averageRating">star_outline</mat-icon>
        </ng-container>
      </span>
    </div>

    <span class="price"><sup>CDN$ </sup>{{ catalogItem.productItem.unitPrice | number:'1.2-2'}}</span>

    <div class="stock-message">

      <ng-container *ngTemplateOutlet="catalogItem.productItem.stockQuantity === 0 ? outOfStock : catalogItem.productItem.stockQuantity >= catalogItem.productItem.reorderLevel ? inStock : lowStock"></ng-container>

      <ng-template #inStock>
        <span>{{catalogItem.productItem.stockQuantity}} in stock</span>
      </ng-template>
      <ng-template #lowStock>
        <span class="low-stock">Only {{catalogItem.productItem.stockQuantity}} left in stock</span>
      </ng-template>
      <ng-template #outOfStock>
        <span class="out-of-stock">None in stock (more on the way)</span>
      </ng-template>

    </div>

  </div>
  <mat-divider></mat-divider>
</div>
