<div class="order">
  <div class="header">
    <h1>Order</h1>
  </div>

  <div>
    <div class="order-summary">
      <div class="order-address">
        <span class="order-summary-title">Shipping Address</span>
        <span>{{account.fullName}}</span>
        <span>{{order.deliveryAddress.line1}}</span>
        <span>{{order.deliveryAddress.line2}}</span>
        <span>{{order.deliveryAddress?.city}}, {{order.deliveryAddress?.region.code}}&nbsp;&nbsp;{{order.deliveryAddress?.postalZip}}</span>      
        <span>{{order.deliveryAddress?.country.name}}</span>
      </div>
      <div class="order-payment-method">
        <span class="order-summary-title">Payment Method</span>
        <span>{{order.paymentCardBrand}}&nbsp;****&nbsp;{{order.paymentCardLast4Digits}}</span>
      </div>
      <div class="order-totals">
        <div class="order-summary-title">Order Summary</div>
        <div>
          <span class="item">Subtotal:</span>
          <span class="currency">{{order.billingAddress.country.currencyCode}}{{order.billingAddress.country.currencySymbol}}&nbsp;</span>
          <span class="amount">{{((order.subTotal) || 0.00) | number:'.2-2'}}</span>
        </div>
        <div>
          <span class="item">Shipping:</span>
          <span class="currency">{{order.billingAddress.country.currencyCode}}{{order.billingAddress.country.currencySymbol}}&nbsp;</span>
          <span class="amount">{{((order.shipTotal) || 0.00) | number:'.2-2'}}</span>
        </div>
        <div *ngIf="order.discountTotal > 0">
          <span class="item">Discount:</span>
          <span class="currency">{{order.billingAddress.country.currencyCode}}{{order.billingAddress.country.currencySymbol}}&nbsp;</span>
          <span class="amount">{{((order.discountTotal) || 0.00) | number:'.2-2'}}</span>
        </div>
        <div>
          <span class="item">Total before tax:</span>
          <span class="currency">{{order.billingAddress.country.currencyCode}}{{order.billingAddress.country.currencySymbol}}&nbsp;</span>
          <span class="amount">{{((order.beforeTaxTotal) || 0.00) | number:'.2-2'}}</span>
        </div>
        <div>
          <span class="item">Tax:</span>
          <span class="currency">{{order.billingAddress.country.currencyCode}}{{order.billingAddress.country.currencySymbol}}&nbsp;</span>
          <span class="amount">{{((order.taxTotal) || 0.00) | number:'.2-2'}}</span>
        </div>
        <div class="total">
          <span class="item">Grand Total:</span>
          <span class="currency">{{order.billingAddress.country.currencyCode}}{{order.billingAddress.country.currencySymbol}}&nbsp;</span>
          <span class="amount">{{((order.grandTotal) || 0.00) | number:'.2-2'}}</span>
        </div>
      </div>

    </div>

    <div class="order-item" *ngFor="let orderItem of order.items">

      <div><mat-divider></mat-divider></div>

      <div class="product">
          <div class="product-image" [routerLink]="['/store/product', orderItem.productId, orderItem.productItem.id]">
            <img src="{{getImage(orderItem.productImage)}}">
          </div>

          <div class="product-details">
            <div class="product-title" [routerLink]="['/store/product', orderItem.productId, orderItem.productItem.id]">
              {{ orderItem.productName }} {{ orderItem.productItem.name }}
            </div>

            <div class="product-model">
              {{ orderItem.productItem.model }}
            </div>

            <div class="price">
              <span>{{ orderItem.quantity }} x </span>
              <span>CDN$ {{(orderItem.unitPrice * orderItem.quantity) | number:'.2-2'}}</span>
            </div>
          </div>

        <!-- <div class="buttons" *ngIf="order.status.title === 'Delivered'"> -->
          <div class="buttons">
            <button mat-flat-button color="primary" style="width: 130px;" (click)="onNextStep()">Write a review</button>
          </div>
      </div>

    </div>

  </div>
</div>
