:host {
  width: 100vw;
  div.order {
    border: 1px solid var(--color-accent);
    border-radius: 6px;
    padding: 20px;
    .mobile & {
      width: 90%;
    }
    .header {
      margin: 20px 0 10px 0;
      .mobile & {
        margin: 10px 0 0 0;
      }
      h1 {
        .mobile & {
          text-align: center;
        }
      }
    }

    .order-summary {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 15px;
      margin: 0 0 10px 0;
      font-size: 1.0em;
      background-color: rgb(239, 239, 239);
      border-radius: 10px;
      .mobile & {
        display: flex;
        flex-direction: column;
      }

      .order-summary-title {
        font-weight: 700;
      }

      .order-address {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 200px;
        .mobile & {
          margin-bottom: 10px;
        }
      }
      .order-payment-method {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex-grow: 1;
        .mobile & {
          margin-bottom: 10px;
        }
      }
      .order-totals {
        width: 200px;
        >div {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          margin: 0 0 3px 0;

          span.item {
            flex: 1;
          }

          span.currency {
            font-size: 0.8em;
          }

          // span.amount {
          // }
        }
        >div:last-child {
          font-weight: 700;
        }
        .mobile & {
          margin-bottom: 10px;
        }
      }
    }

    .order-item {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      .product {
        min-height: 100px;
        padding: 10px;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .mobile & {
          padding: 5px;
        }

        .product-image {
          cursor: pointer;
          img {
            width: 90px;
            min-width: 90px;
            max-width: 90px;
            padding: 0 10px 0 10px;
            .mobile & {
              width: 80x;
              min-width: 80px;
              max-width: 80px;
            }
          }
        }

        .product-details {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-self: center;

          .product-title {
            font-size: 1.5em;
            font-weight: 500;
            word-wrap: break-word;
            line-height: normal;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }

            .mobile & {
              font-size: 1.3em;
            }
          }

          .spacer {
            flex-grow: 1;
          }
        }

        .price {
          flex-shrink: 0;
          white-space: nowrap;
          font-size: 1em;
          line-height: normal;
          width: 150px;
          color: rgb(120, 0, 0);
          .mobile & {
            font-size: 1em;
            text-align: left;
            margin-bottom: 10px;
          }
        }

        .buttons {
          align-self: center;
        }
        .mobile & {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
