.catalog {
  margin: 40px;
  .mobile & {
    margin: 20px;
  }
  .products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .mobile & {
      flex-direction: column;
      align-items: center;
    }
  }
  .mat-paginator {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  app-catalog-item {
    .mobile & {
      width: 100%;
    }
  }
}
