<div class="catalog">
  <ng-container *ngIf="catalogItems$ | async as catalogItems; else loading">
    <div class="products">
      <ng-container *ngFor="let catalogItem of catalogItems">
        <app-catalog-item [catalogItem]="catalogItem"></app-catalog-item>
      </ng-container>
    </div>
  </ng-container>
  <!-- <div>
    <mat-paginator [length]="productCount" [pageSize]="defaultPageSize" [pageSizeOptions]="pageSizeOptions">
    </mat-paginator> -->
  <!-- </div> -->
  
  <ng-template #loading>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" warn type="ball-clip-rotate">
    </ngx-spinner>
  </ng-template>
</div>
