<div class="search-box-container">
  <div class="search-category">
    <select [(ngModel)]="selectedCategoryUid">
      <option value="all">All Categories</option>
      <ng-container *ngIf="category$ | async as categories">
        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
      </ng-container>
    </select>
  </div>
  <div class="search-text">
    <input type="text" #searchField name="query" (keydown.enter)="onSearch(searchField.value)">
  </div>
  <div class="search-button">
    <button (click)="onSearch(searchField.value)">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>
