$height: 35px;
$search-button-color: var(--color-accent);
$search-button-width: 40px;
$dropdown-color: rgb(200, 200, 200);
$dropdown-max-width: 200px;
$dropdown-font-size: 0.6em;

select,
input,
button {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

div.search-box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 400px;
  width: 100%;
  align-items: flex-center;

  .mobile & {
    min-width: unset;
  }

  div.search-category {
    display: inline-flex;
    align-items: center;
    height: $height;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: $dropdown-color;
    select {
      height: 100%;
      overflow: hidden;
      font-size: $dropdown-font-size;
      padding: 0 4px 0 4px;
      cursor: pointer;
    }
  }

  div.search-text {
    display: inline-flex;
    align-items: center;
    flex-grow: 1;
    height: $height;
    input {
      text-indent: 10px;
      width: 100%;
      height: 100%;
      line-height: $height;
      color: var(--color-text);
      background-color: var(--color-background);
    }
    .mobile & {
      // border-top-left-radius: 4px;
      // border-bottom-left-radius: 4px;
    }
  }
  div.search-button {
    button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: $search-button-width;
      height: 100%;
      background-color: $search-button-color;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      cursor: pointer;
    }
  }
}
