<form [formGroup]="form">
    <mat-form-field appearance="outline" style="width:100% !important">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" value="{{ account.email }}">
        <mat-error *ngIf="form.controls.email.errors?.required">
            Enter your email
        </mat-error>
        <mat-error *ngIf="form.controls.email.errors?.email">
            Enter a valid email
          </mat-error>
    </mat-form-field>
</form>