:host {
  width: 100%;
}

.reviews {
  .review {
    .header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: flex-start;
      align-self: flex-start;
      align-items: flex-start;
      margin: 15px 0 15px 0;

      .header-left {
        display: flex;
        flex-direction: column;
        flex: 1;
        .review-title {
          font-size: 1.2em;
          font-weight: 500;
          margin: 0 0 4px 0;
        }
        .review-author {
        }
        .review-date {
        }
      }

      .header-right {
        display: flex;
        flex-direction: column;
        text-align: right;

        .verified-purchase {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          margin: 3px 0 3px 0;

          > mat-icon {
            color: green;
          }
          > span {
            margin: 2px 0 0 6px;
          }
        }

        .rating {
          margin: 0px 0 0px 0;
          color: rgb(248, 197, 13);
          .mat-icon {
            font-size: 1.5em;
            margin-left: -6px;
          }
        }
      }
    }

    .review-description {
      margin: 10px 0 10px 0;
      font-size: 1.2em;
      overflow-wrap: break-word;
    }
  }
}
