<ng-container *ngIf="(reviews$ | async) as reviews; else loading">
  <div class="reviews">

    <div class="review" *ngFor="let review of reviews; let i = index">

      <div class="header">
        <div class="header-left">
          <div class="review-title">{{review.title}}</div>
          <div class="review-author">{{review.name}}, {{review.region}}, {{review.country}}</div>
          <div class="review-date">{{review.date | date:'MMMM d, yyyy'}}</div>
        </div>

        <div class="header-right">
          <div class="rating">
            <ng-container *ngFor="let item of [].constructor(5); let i = index">
              <mat-icon *ngIf="i < review.rating">star</mat-icon>
              <mat-icon *ngIf="i >= review.rating">star_outline</mat-icon>
            </ng-container>
          </div>
          <div *ngIf="review.verifiedPurchase" class="verified-purchase">
            <span>Verified Purchase&nbsp;</span><mat-icon>verified</mat-icon>
          </div>
        </div>
      </div>

      <div class="review-description">{{review.description}}</div>
      <mat-divider *ngIf="i < (reviews.length-1)"></mat-divider>
    </div>

  </div>

</ng-container>

<ng-template #loading>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" warn type="ball-clip-rotate">
  </ngx-spinner>
</ng-template>
