<div class="account">
  <div class="header">
    <h1>Your Account</h1>
  </div>

  <div class="buttons">
    <button routerLink="/store/account/orders">
      <div class="button-icon">
        <mat-icon>shopping_basket</mat-icon>
      </div>
      <div class="button-title">Your orders</div>
      <div class="button-description">Your purchases</div>
    </button>
    <button routerLink="/auth/change-password">
      <div class="button-icon">
        <mat-icon>security</mat-icon>
      </div>
      <div class="button-title">Security</div>
      <div class="button-description">Change your password</div>
    </button>
    <button routerLink="/store/account/addresses">
      <div class="button-icon">
        <mat-icon>home</mat-icon>
      </div>
      <div class="button-title">Your addresses</div>
      <div class="button-description">Delivery addresses</div>
    </button>
    <button routerLink="/store/account/reviews">
      <div class="button-icon">
        <mat-icon>reviews</mat-icon>
      </div>
      <div class="button-title">Your reviews</div>
      <div class="button-description">Your product reviews</div>
    </button>
    <button routerLink="/store/account/wishlists">
      <div class="button-icon">
        <mat-icon>list_alt</mat-icon>
      </div>
      <div class="button-title">Your wishlists</div>
      <div class="button-description">Manage your wishlists</div>
    </button>
  </div>

  <div class="personal-info">
    <form [formGroup]="form" (ngSubmit)="saveAccount()">
      <mat-accordion #accordion="matAccordion" [multi]="false">
        <mat-expansion-panel (afterExpand)="loadComponent('fullName')">
          <mat-expansion-panel-header>
            <div class="panel-header">{{account?.fullName}}</div>
          </mat-expansion-panel-header>

          <ng-template #fullName matExpansionPanelContent>
            <button mat-flat-button class="save-button" type="submit" [disabled]="!form.valid" color="primary">Save</button>
          </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel (afterExpand)="loadComponent('preferredName')">
          <mat-expansion-panel-header>
            <div class="panel-header">{{account?.preferredName}}</div>
          </mat-expansion-panel-header>

          <ng-template #preferredName matExpansionPanelContent>
            <button mat-flat-button class="save-button" type="submit" [disabled]="!form.valid" color="primary">Save</button>
          </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel (afterExpand)="loadComponent('email')">
          <mat-expansion-panel-header>
            <div class="panel-header">{{account?.email}}</div>
          </mat-expansion-panel-header>

          <ng-template #email matExpansionPanelContent>
            <button mat-flat-button class="save-button" type="submit" [disabled]="!form.valid" color="primary">Save</button>
          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </form>

  </div>

</div>
