:host {
  width: 100vw;
  div.account {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    .mobile & {
      width: 90%;
      margin-left: 5%;
    }
    .header {
      margin: 20px 0 10px 0;
      .mobile & {
        margin: 10px 0 0 0;
      }
      h1 {
        .mobile & {
          text-align: center;
        }
      }
    }
  }

  div.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .mobile & {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }

    button {
      display: inline-grid;
      grid-template-columns: min-content 2fr;
      grid-template-rows: min-content min-content;
      color: var(--color-text);
      margin: 5px;
      padding: 20px;
      width: 200px;
      text-align: left;
      border: 1px solid var(--color-accent);
      border-radius: 6px;
      cursor: pointer;
      .mobile & {
        flex-grow: 1;
        padding: 10px;
        margin: 0 20px 10px 20px;
      }
      .button-icon {
        grid-row: 1 / 3;
        grid-column: 1;
        margin-right: 10px;
        align-self: center;
        mat-icon {
          font-size: 40px;
          width: 40px;
        }
      }
      .button-title {
        grid-row: 1;
        grid-column: 2;
        font-size: 1.2em;
        font-weight: 500;
        align-self: flex-end;
      }
      .button-description {
        grid-row: 2;
        grid-column: 2;
        font-size: 0.9em;
        font-weight: 100;
        align-self: flex-start;
      }
    }
    button:hover {
      background-color: var(--color-hover);
    }
  }

  div.personal-info {
    white-space: nowrap;
    margin: 5px;
    .mobile & {
      flex-grow: 1;
      margin: 0 20px 10px 20px;
    }

    div.panel-header {
      grid-column: 3;
      font-size: 1.1em;
      font-weight: 500;
    }
    button.save-button {
      float: right;
    }
  }
}
