<form [formGroup]="form">
    <mat-form-field appearance="outline" style="width:100% !important">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="fullName" value="{{ account.fullName }}">

        <mat-error *ngIf="form.controls.fullName.errors?.required">
            Enter your full name
        </mat-error>
    </mat-form-field>
</form>