<div>
  <h2>Upload Image(s) Here:</h2>

  <input type="file" multiple='multiple' accept=".png, .jpeg, .jpg" (change)="onFileChanged($event)">
  <button mat-raised-button color="primary" (click)="onUpload()">Upload!</button>
  <button mat-raised-button color="primary" (click)="close()">Close</button>

  <h2>Files:</h2>
  <ul *ngFor="let image of images; let i=index">
    <li value="{{i}}">{{image.name}}
      <button class="remove" mat-icon-button color="warn" type="button" (click)="removeFile(i)">
          <mat-icon>clear</mat-icon>
      </button>
    </li>
  </ul>
</div>
