:host {
  width: 100vw;
  div.review {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    .mobile & {
      width: 90%;
      margin-left: 5%;
    }
    .header {
      margin: 20px 0 10px 0;
      .mobile & {
        margin: 10px 0 0 0;
      }
      h1 {
        .mobile & {
          text-align: center;
        }
      }
    }
  }

  // TODO: ▼ DELETE THIS ▼
  .under-construction {
    text-align: center;
    div {
      width: 100vw;
    }
    .mat-icon {
      font-size: 100px;
      width: 100px;
    }
  }
  
}
