<div class="header">
  <mat-icon>account_balance</mat-icon>
  <h2>Select a billing address</h2>
</div>
<div class="buttons">
  <button routerLink="/store/account/addresses/address">
    <div class="button-icon">
      <mat-icon matTooltip="Add">add_box</mat-icon>
    </div>
    <div class="button-title">Add address</div>
    <div class="button-address">Add a new address...</div>
  </button>

  <button *ngFor="let address of addresses" [ngClass]="{selected: (checkoutService.billingAddress.id === address.id)}" (click)="onSelectAddress($event, address)" skipLocationChange>
    <div class="button-icon check">
      <mat-icon *ngIf="(checkoutService.billingAddress.id === address.id)" matTooltip="Remove">check_box</mat-icon>
    </div>
    <div class="button-title">
      <span>{{address?.description}}</span>
    </div>
    <div class="button-address">
      <div>{{address?.line1}}</div>
      <div>{{address?.line2}}</div>
      <div>{{address?.city}}, {{address?.region.name}} {{address?.postalZip}}</div>
      <div>{{address?.country.name}}</div>
    </div>
  </button>
</div>
