:host {
  width: 100vw;

  div.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-center;
    margin: 0 0 10px 0;

    mat-icon {
      font-size: 35px;
      width: 35px;
      margin: 0 10px 0 10px;
    }
    h2 {
      line-height: 35px;
    }
  }

  div.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .mobile & {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }

    button {
      display: inline-grid;
      position: relative;
      color: var(--color-text);
      margin: 5px;
      padding: 20px;
      width: 250px;
      text-align: left;
      border: 1px solid var(--color-accent);
      border-radius: 6px;
      cursor: pointer;
      .mobile & {
        flex-grow: 1;
        padding: 10px;
        margin: 0 20px 10px 20px;
      }
      &.selected {
        background-color: var(--color-selected-button);
      }
      .button-icon {
        position: relative;
        color: var(--color-text);
        &.delete {
          color: var(--color-warn);
        }
        mat-icon {
          position: absolute;
          right: -17px;
          top: -17px;
          font-size: 30px;
          width: 30px;
          .mobile & {
            right: -7px;
            top: -7px;
            font-size: 35px;
            width: 35px;
          }
        }
      }

      .button-title {
        font-size: 1.3em;
        font-weight: 500;
        align-self: flex-end;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .button-address {
        font-size: 1.2em;
        font-weight: 200;
        align-self: flex-start;
      }
    }
    button:hover {
      background-color: var(--color-hover);
    }
  }
}
