<div class="layout-container" [class.mobile]="globals.mediaState.XSmall || floatingFooter">

  <!-- <div *ifViewportSize="'(max-width: 599.98px)'">SMALL</div>   -->
  <!-- <div *ifViewportSize="viewportSize.XSmall">SMALL</div> -->
  <!-- <div *ifViewportSize="viewportSize.Medium; let viewportSize">STATUS:{{viewportSize}}</div> -->

  <div class="top-nav">
    <mat-toolbar color="primary" class="toolbar">

      <button mat-icon-button aria-label="menu" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span routerLink="/">
        <h1>Angry Fish Aquariums</h1>
      </span>

      <search-box *ngIf="!globals.mediaState.XSmall"></search-box>
      <span class="toolbar-spacer" *ngIf="globals.mediaState.XSmall"></span>

      <span class="nav-button">
        <button class="nav-button" mat-icon-button [matBadge]="cartService.totalItems" matBadgePosition="before" [matBadgeSize]="globals.mediaState.XSmall ? 'small' : 'medium'" matBadgeColor="accent" aria-label="cart" routerLink="/store/cart">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </span>
      <span class="nav-button">
        <button mat-icon-button *ngIf="!account" mat-button routerLink="/auth/login" matTooltip="Sign in" aria-label="account">
          <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button *ngIf="account" mat-button [matMenuTriggerFor]="accountMenu" aria-label="account">
          <mat-icon>account_circle</mat-icon>
        </button>
      </span>

      <search-box *ngIf="globals.mediaState.XSmall"></search-box>

    </mat-toolbar>

    <mat-menu #accountMenu="matMenu">
      <div class="account-menu">
        <div class="menu-user">{{account?.preferredName}}</div>
        <div class="menu-email">{{account?.email}}</div>
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/store/account">
        <mat-icon>manage_accounts</mat-icon>
        <span>Account</span>
      </button>
      <button mat-menu-item routerLink="/auth/change-password">
        <mat-icon>lock</mat-icon>
        <span>Change password</span>
      </button>
      <button mat-menu-item routerLink="/auth/logout">
        <mat-icon>logout</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>

  </div>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="0">
    <mat-sidenav #sidenav mode="over" fixedInViewport="true" (closed)="onSideNavClosed()" [fixedTopGap]="globals.mediaState.XSmall ? 90 : 75">
      <div class="nav-panels">
        <div class="panel category" [ngClass]="{show: category}">
          <mat-divider></mat-divider>
          <ng-container *ngIf="category$ | async as categories">
            <div class="button" *ngFor="let category of categories">
              <button (click)="onCategorySelect(category)">
                <span>{{category.name}}</span>
                <span style="flex: 1 1 auto;"></span>
                <span>
                  <mat-icon>navigate_next</mat-icon>
                </span>
              </button>
            </div>
          </ng-container>

          <mat-divider></mat-divider>
          <mat-nav-list>
            <a mat-list-item *ngIf="authService.isAdmin" [routerLink]="['/warehouse']" routerLinkActive="active" (click)="closeMenuOnClick ? sidenav.toggle() : '';">Warehouse</a>
            <!-- <a mat-list-item *ngFor="let item of navItems" [routerLink]="[item.link]" routerLinkActive="active" (click)="closeMenuOnClick ? sidenav.toggle() : '';">
              {{item.title}}
            </a> -->            
          </mat-nav-list>

        </div>
        <div class="panel subcategory">
          <button class="back-button" (click)="onCategorySelect(null)">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <mat-divider></mat-divider>
          <div class="button" *ngFor="let subcategory of category?.subcategories">
            <button (click)="onSubcategorySelect(subcategory); sidenav.close();">
              <span>{{subcategory.name}}</span>
              <span style="flex: 1 1 auto;"></span>
              <span>
                <!-- <mat-icon>arrow_right</mat-icon> -->
                <mat-icon>more_horiz</mat-icon>
              </span>
            </button>
          </div>
          <mat-divider></mat-divider>
        </div>
      </div>


    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content">
        <div class="content-component">
          <router-outlet></router-outlet>
        </div>
        <div class="footer">
          <mat-toolbar color="primary">
            <span class="text-muted">&copy; {{currentYear}}&nbsp;<a href="https://crazyal013.gitlab.io/sait-capstone-project/">SAIT Capstone Project</a></span>
            <span class="toolbar-spacer"></span>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
          </mat-toolbar>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
