.layout-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow-y: hidden;
  background-color: var(--color-background);
}

.account-menu {
  margin: 16px;
  overflow: hidden;
  white-space: nowrap;
  color: var(--color-text);
  div.menu-user {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 3px;
  }
}

.top-nav {
  overflow-x: hidden;
  z-index: 20;
  .mat-toolbar {
    height: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    .mobile & {
      flex-wrap: wrap;
      height: 90px;
    }
    .nav-button {
    }

    .nav-button {
      padding-right: 10px;
      .mobile & {
        padding-right: 2px;
      }

      .mat-icon {
        font-size: 35px;
        .mobile & {
          font-size: 32px;
        }
      }

      ::ng-deep .mat-badge-content {
        top: -7px !important;
        left: 22px !important;

        .mobile & {
          top: 3px !important;
          left: 22px !important;
        }
      }
    }

    .mat-form-field .mat-icon {
      font-size: 26px;
    }
    h1 {
      font-size: 1.2em;
      padding-left: 10px;
      cursor: pointer;
    }

    search-box {
      flex: 1 1 auto;
      padding: 0px 30px 0 30px;
      .mobile & {
        padding: 5px 6px 10px 6px;
      }
    }
  }
  .mat-toolbar-single-row {
    padding: 0 8px;
  }
}

// Page content
.content {
  height: calc(100vh - 75px);
  display: flex;
  flex-flow: column nowrap;
  .mobile & {
    height: calc(100vh - 90px);
  }
  .content-component {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    .mobile & {
      min-width: 100%;
    }
  }
  .footer {
    width: 100%;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

::ng-deep .mat-tooltip {
  white-space: pre-line !important;
  font-size: 1.1em;
}

::ng-deep .mat-menu-panel {
  overflow: hidden !important;
}

::ng-deep .mat-sidenav-content {
  height: 100% !important; /* or 100% */
}

mat-sidenav {
  $nav-width: 300px;
  width: $nav-width;

  button {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  .nav-panels {
    box-sizing: border-box;
    position: relative;
    height: 100%;

    
    .panel {
      box-sizing: border-box;
      overflow: hidden;
      white-space: nowrap;
      position: absolute;
      top: 0px;
      left: 0px;
      padding: 20px 0 0 0;
      background-color: var(--color-background);
      width: $nav-width;
      height: 100%;
      transition: width 0.2s;

      &.category {
        z-index: 12;
        border-right: 2px solid var(--color-divider);
        &.show {
          width: 0;
          transition: width 0.2s;
        }
      }

      &.subcategory {
        z-index: 10;
      }

      div.button {
        box-sizing: border-box;
        padding: 3px 20px 3px 15px;
        button {
          display: flex;
          font-size: 1.2em;
          font-weight: 400;
          align-items: center;
          width: 100%;
          text-align: left;
          & mat-icon {
            color: var(--color-secondary-text);
          }
        }
        &:hover {
          cursor: pointer;
          background-color: var(--color-hover);
          & mat-icon {
            color: var(--color-text);
          }
        }
      }
      .back-button {
        cursor: pointer;
        padding: 0 0 5px 10px;
        & mat-icon {
          color: var(--color-secondary-text);
        }
      }

    }

  }
}
