:host {
  width: 100vw;
  div.cart {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    .mobile & {
      width: 90%;
      margin-left: 5%;
    }
    .header {
      margin: 20px 0 10px 0;
      .mobile & {
        margin: 10px 0 0 0;
      }
      h1 {
        .mobile & {
          text-align: center;
        }
      }
    }

    div.empty {
      font-size: 1.2em;
      font-weight: 400;
      .mobile & {
        text-align: center;
      }
    }

    .cart-item {
      min-height: 100px;

      padding: 10px;
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .mobile & {
        padding: 5px;
      }

      .product-image {
        cursor: pointer;
        img {
          width: 150px;
          min-width: 150px;
          max-width: 150px;
          padding: 0 10px 0 10px;
          .mobile & {
            width: 100px;
            min-width: 100px;
            max-width: 100px;
          }
        }
      }

      .product-details {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .product-title {
          font-size: 1.5em;
          font-weight: 500;
          word-wrap: break-word;
          line-height: normal;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }

          .mobile & {
            font-size: 1.3em;
          }
        }

        .stock-message {
          font-size: 1em;
          color: green;
          .low-stock {
            color: rgb(212, 138, 0);
          }
          .out-of-stock {
            color: rgb(222, 1, 1);
          }
          .mobile & {
            font-size: 0.9em;
          }
        }

        .spacer {
          flex-grow: 1;
        }

        .product-quantity {
          display: inline-flex;
          flex-direction: row;
          flex-wrap: nowrap;
          margin: 10px 0 10px 0;
          .narrow & {
            align-self: center;
          }
          .mat-divider {
            margin: 0 10px 0 10px;
          }
          a {
            align-self: center;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .price {
        flex-shrink: 0;
        white-space: nowrap;
        font-size: 1.5em;
        line-height: normal;
        text-align: right;
        width: 150px;
        .mobile & {
          font-size: 1em;
          text-align: left;
          color: rgb(120, 0, 0);
        }
      }
    }

    .summary,
    .checkout {
      text-align: right;
      padding-bottom: 10px;
      .mobile & {
        text-align: center;
      }
      &.summary {
        font-size: 1.2em;
        margin-top: 10px;
      }
      &.checkout {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        .mobile & {
          padding: 10px;
        }
        button {
          .mobile & {
            width: 85%;
          }
        }
      }
    }

    .price {
      font-size: 1.2em;
      font-weight: 500;
    }
  }
}
