<div class="cart">
  <div class="header">
    <h1>Shopping Cart</h1>
  </div>

  <ng-container *ngIf="ready$ | async; else loading">

    <ng-container *ngIf="itemCount === 0;">
      <div class="empty">Cart is empty.</div>
    </ng-container>

    <ng-container *ngIf="itemCount > 0;">
      <ng-container *ngIf="globals.mediaState.XSmall; then summary"></ng-container>
      <div>
        <mat-divider></mat-divider>
      </div>
      <div *ngFor="let item of cartItems | keyvalue">
        <div class="cart-item">
          <div class="product-image" [routerLink]="['/store/product', item.value.productId, item.value.productItem.id]">
            <img src="{{getImage(item.value.productImage)}}">
          </div>

          <div class="product-details">
            <div class="product-title" [routerLink]="['/store/product', item.value.productId, item.value.productItem.id]">
              {{ item.value.productName }} {{ item.value.productItem.name }}
            </div>

            <div *ngIf="globals.mediaState.XSmall" class="price">
              CDN$ {{(item.value.productItem.unitPrice * item.value.quantity) | number:'.2-2'}}
            </div>

            <div class="stock-message">

              <ng-container *ngTemplateOutlet="item.value.productItem.stockQuantity === 0 ? outOfStock : item.value.productItem.stockQuantity >= item.value.productItem.reorderLevel ? inStock : lowStock"></ng-container>

              <ng-template #inStock>
                <span>{{item.value.productItem.stockQuantity}} in stock</span>
              </ng-template>
              <ng-template #lowStock>
                <span class="low-stock">Only {{item.value.productItem.stockQuantity}} left in stock</span>
              </ng-template>
              <ng-template #outOfStock>
                <span class="out-of-stock">None in stock (more on the way)</span>
              </ng-template>

            </div>

            <div class="spacer"></div>
            <div class="product-quantity">
              <counter-input [min]="minQuantity(item.value.productItem.id)" [max]="maxQuantity(item.value.productItem.id)" [value]="(item.value.productItem.stockQuantity === 0) ? 0 : item.value.quantity" (changeEvent)="onQuantityChanged(item.value.productItem.id, $event)">
              </counter-input>
              <mat-divider [vertical]="true"></mat-divider>
              <a (click)="onDeleteItem(item.value.productItem.id)">Delete</a>
            </div>
          </div>

          <div *ngIf="!globals.mediaState.XSmall" class="price">
            CDN$ {{(item.value.productItem.unitPrice * item.value.quantity) | number:'.2-2'}}
          </div>
        </div>
        <div>
          <mat-divider></mat-divider>
        </div>
      </div>

      <ng-container *ngIf="!globals.mediaState.XSmall; then summary"></ng-container>

    </ng-container>

  </ng-container>

  <ng-template #loading>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" warn type="ball-clip-rotate">
    </ngx-spinner>
  </ng-template>


  <ng-template #summary>
    <div class="summary">
      <span>Subtotal {{ itemCount | i18nPlural: pluralMapping['item'] }}:</span>
      <span class="price"> CDN$ {{ subTotal | number:'.2-2'}} </span>
    </div>
    <div class="checkout">
      <button class="checkout-button" mat-flat-button color="accent" [routerLink]="['/store/cart/checkout']">Checkout</button>
    </div>
  </ng-template>

</div>
