  <div class="complete">

    <div class="header">
      <mat-icon>receipt</mat-icon>
      <h2>Order complete</h2>
    </div>

    <app-order [order]="order"></app-order>

  </div>

<ng-template #loading>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" warn type="ball-clip-rotate">
  </ngx-spinner>
</ng-template>
