:host {
  width: 100vw;

  div.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-center;
    margin: 0 0 10px 0;

    mat-icon {
      font-size: 35px;
      width: 35px;
      margin: 0 10px 0 10px;
    }
    h2 {
      line-height: 35px;
    }
  }




}
