// Import library functions for theme creation.
@import '~@angular/material/theming';
@import './theme.scss';

// Include non-theme styles for core.
@include mat-core();

// Define your application's custom theme.
// Optionally add default, lighter, and darker hues.
// See: https://material.io/archive/guidelines/style/color.html#color-color-palette
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-purple, A200, A100, A400);
$warn: mat-palette($mat-red, A700);
$theme: mat-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  )
));

// Include theme styles for Angular Material components.
@include angular-material-theme($theme);

// Include theme styles for your custom components.
//@include store-theme($theme);

$foreground: map-get($theme, foreground);
$background: map-get($map: $theme, $key:background);
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);
$warn: map-get($theme, warn);

// CSS variables for Material Theme colours
:root {
  --color-background: #{mat-color($background, background)};
  --color-selected-button: #{mat-color($background, selected-button)};
  --color-hover: #{mat-color($background, hover)};
  --color-text: #{mat-color($foreground, text)};
  --color-secondary-text: #{mat-color($foreground, secondary-text)};
  --color-disabled-text: #{mat-color($foreground, disabled-text)};
  --color-divider: #{mat-color($foreground, divider)};
  --color-primary: #{mat-color($primary)};
  --color-accent: #{mat-color($accent)};
  --color-warn: #{mat-color($warn)};
}


