<div class="header">
  <mat-icon>local_shipping</mat-icon>
  <h2>Select a shipping address</h2>
</div>
<div class="buttons">
  <button [routerLink]="['/store/account/addresses/address',{returnUrl: '/store/cart/checkout'}]">
    <div class="button-icon">
      <mat-icon matTooltip="Add">add_box</mat-icon>
    </div>
    <div class="button-title">Add address</div>
    <div class="button-address">Add a new address...</div>
  </button>

  <button *ngFor="let address of addresses" [ngClass]="{selected: (checkoutService.shippingAddress.id === address.id)}" (click)="onSelectAddress($event, address)" skipLocationChange>
    <div class="button-icon check">
      <mat-icon *ngIf="(checkoutService.shippingAddress.id === address.id)">check_box</mat-icon>
    </div>
    <div class="button-title">
      <span>{{address?.description}}</span>
    </div>
    <div class="button-address">
      <div>{{address?.line1}}</div>
      <div>{{address?.line2}}</div>
      <div>{{address?.city}}, {{address?.region.name}} {{address?.postalZip}}</div>
      <div>{{address?.country.name}}</div>
    </div>
  </button>
</div>

<ng-template #loading>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" warn type="ball-clip-rotate">
  </ngx-spinner>
</ng-template>