
:host {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: stretch;

  width: 350px;
  max-width: 100%;
  text-align: center;

  .btn {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 48px;
  }
  .providers {
    font-size: 1.5em;
  }

  .mat-link {
    cursor: pointer;
    color: #2196f3 !important;
    text-decoration: underline;
  }
  
  .mat-icon:hover {
    cursor: pointer;
  }

  span.reset-password {
    display:block;
    position:relative; 
    margin-top: -30px;
    text-align: right;
  }

  .close-button{
    float: right;
    top:-14px;
    right:-14px;
  }
}




