 <div [@vanish]="page">

  <button mat-icon-button class="close-button" [mat-dialog-close]="false" color="warn">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>

   <h1 class="mat-title">{{ title }}</h1>
   <p class="mat-small">{{ message }}</p>
   <!-- <p class=".mat-body-strong" *ngIf="page == LoginAction.Message">{{ message }}</p> -->
 </div>

 <form [formGroup]="form" fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="10px" (ngSubmit)="onSubmit(page)">

   <!-- ERROR MESSAGE -->
   <mat-error *ngIf="error" @inflate>{{ error }}</mat-error>

   <!-- FULL NAME -->
   <mat-form-field appearance="outline" *ngIf="form.contains('fullName')" @inflate>
     <mat-label>Full name</mat-label>
     <input matInput formControlName="fullName">
     <mat-error *ngIf="form.controls.fullName.errors?.required">
       Enter your full name
     </mat-error>
   </mat-form-field>

   <!-- PREFERRED NAME -->
   <mat-form-field appearance="outline" *ngIf="form.contains('preferredName')" @inflate>
     <mat-label>What should we call you?</mat-label>
     <input matInput formControlName="preferredName">
     <mat-error *ngIf="form.controls.preferredName.errors?.required">
       Enter the name we should use when contacting you
     </mat-error>
   </mat-form-field>

   <!-- USERNAME -->
   <mat-form-field appearance="outline" *ngIf="form.contains('username')" @inflate>
     <mat-label>Username</mat-label>
     <input matInput formControlName="username">
     <mat-error *ngIf="form.controls.username.errors?.required">
       Enter a username
     </mat-error>
   </mat-form-field>

   <!-- EMAIL -->
   <mat-form-field appearance="outline" *ngIf="form.contains('email')" @inflate>
     <mat-label>Email</mat-label>
     <input matInput formControlName="email">
     <mat-error *ngIf="form.controls.email.errors?.required">
       Enter an email
     </mat-error>
     <mat-error *ngIf="form.controls.email.errors?.email">
       Enter a valid email
     </mat-error>
   </mat-form-field>

   <!-- PASSWORD -->
   <mat-form-field appearance="outline" *ngIf="form.contains('password')" @inflate>
     <mat-label>Password</mat-label>
     <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
     <mat-icon matSuffix class="mat-icon" matTooltip="Show pasword" (click)="hidePassword = !hidePassword">
       {{ hidePassword ? 'visibility_off' : 'visibility'}}
     </mat-icon>
     <mat-error *ngIf="form.controls.password.errors?.required">
       Enter a password
     </mat-error>
   </mat-form-field>
   <span class="reset-password mat-link mat-body-strong" (click)="switchPage(LoginAction.ResetPassword)" *ngIf="page == LoginAction.Login" @inflate>Forgot password?</span>

   <!-- CURRENT PASSWORD -->
   <mat-form-field appearance="outline" *ngIf="form.contains('currentPassword')" @inflate>
     <mat-label>Current Password</mat-label>
     <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" formControlName="currentPassword">
     <mat-icon matSuffix class="mat-icon" matTooltip="Show pasword" (click)="hideCurrentPassword = !hideCurrentPassword">
       {{ hidePassword ? 'visibility_off' : 'visibility'}}
     </mat-icon>
     <mat-error *ngIf="form.controls.currentPassword.errors?.required">
       Enter your current password
     </mat-error>
   </mat-form-field>

   <!-- NEW PASSWORD -->
   <mat-form-field appearance="outline" *ngIf="form.contains('newPassword')" @inflate>
     <mat-label>New Password</mat-label>
     <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword">
     <mat-icon matSuffix class="mat-icon" matTooltip="Show pasword" (click)="hideNewPassword = !hideNewPassword">
       {{ hidePassword ? 'visibility_off' : 'visibility'}}
     </mat-icon>
     <mat-error *ngIf="form.controls.newPassword.errors?.required">
       Enter a new password
     </mat-error>
   </mat-form-field>

   <!-- ACTION BUTTON -->
   <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid" class="btn">
     {{ caption }}
   </button>

   <mat-progress-bar *ngIf="progress" mode="indeterminate" @inflate></mat-progress-bar>

 </form>

 <p class="mat-body" *ngIf="page == LoginAction.Login">
   New user? <span class="mat-link mat-body-strong" (click)="switchPage(LoginAction.Register)">Create account</span>
 </p>

 <p class="mat-body" *ngIf="page === LoginAction.Register || page === LoginAction.ResetPassword">
   Already have login and password? <span class="mat-link mat-body-strong" (click)="switchPage(LoginAction.Login)">Sign-in</span>
 </p>
