<div>
  <ng-container *ngIf="loaded && (account$ | async) as account; else loading">
    <div class="account">
      <h2>User account details</h2>
      <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field appearance="fill" class="option">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
            <mat-hint>This users username.</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill" class="option">
            <mat-label>Fullname</mat-label>
            <input matInput formControlName="fullName">
            <mat-hint>This users full name.</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill" class="option">
            <mat-label>Preferred Name</mat-label>
            <input matInput formControlName="preferredName">
            <mat-hint>This users preferred name.</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill" class="option">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-hint>This users email address.</mat-hint>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit">Save Account</button>
      </form>
    </div>
  </ng-container>

  <ng-template #loading>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" warn type="ball-clip-rotate">
    </ngx-spinner>
  </ng-template>
</div>