mat-form-field {
  margin: 10px;
}

.form {
  margin: 10px;
}

.option {
  width: 350px;
}

app-product-item {
  margin: 10px;
}

button {
  margin: 10px;
}

mat-panel-title {
  font-size: 19px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-panel-description {
  font-size: 15px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-divider {
  margin: 10px;
}
