.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.navigation {
  margin: 10px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

mat-card {
  height: 310px;
  width: 275px;
}

mat-card-content {
  margin-top: 10px;
  border: 1px solid var(--color-accent);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.option {
  width: 275px;
  height: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

mat-panel-title {
  justify-content: center;
  color: rgba(0,0,0,.87);
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2 {
  margin: 0px;
}