<div class="container">
  <div class="navigation">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Products</mat-card-title>
      </mat-card-header>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card-content>
        <button class="option" mat-flat-button style="width: 175px;" color="primary" [routerLink]="['/warehouse/product']">New Product</button>
        <button class="option" mat-flat-button style="width: 175px;" color="primary" [routerLink]="['/warehouse/category']">Add/Edit Categories</button>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="navigation">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Customers</mat-card-title>
      </mat-card-header>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card-content>
        <button class="option" mat-flat-button style="width: 175px;" disabled matBadge="0">View Orders</button>
        <button class="option" mat-flat-button style="width: 175px;" disabled color="primary" [routerLink]="['/warehouse/accounts']">View Accounts</button>
        <button class="option" mat-flat-button style="width: 175px;" disabled matBadge="0">View Reviews</button>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="navigation">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Warehouse</mat-card-title>
      </mat-card-header>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card-content>
        <button class="option" mat-flat-button style="width: 175px;" disabled>View Orders</button>
        <button class="option" mat-flat-button style="width: 175px;" disabled matBadge="0">View Stock</button>
        <button class="option" mat-flat-button style="width: 175px;" disabled>View Suppliers</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
