:host {
  width: 100vw;

  div.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-center;
    margin: 0 0 10px 0;

    mat-icon {
      font-size: 35px;
      width: 35px;
      margin: 0 10px 0 10px;
    }
    h2 {
      line-height: 35px;
    }
  }

  .payment {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .heading {
      font-size: 1.3em;
      font-weight: 500;
      line-height: 1.7em;
    }
    .total {
      font-weight: 500;
      line-height: 2.4em;
    }
    .shipping {
      flex: 1;
      font-size: 1.2em;
      border: 1px solid var(--color-accent);
      border-radius: 15px;
      margin: 5px;
      padding: 15px 25px 15px 25px;
      .mobile & {
      }
      button.shipping-option {
        cursor: pointer;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid var(--color-divider);
        border-radius: 5px;
        margin: 8px 0 0 0;
        padding: 10px;
        .carrier {
          display: flex;
          line-height: 20px;
          align-content: center;
          span {
            flex: 1;
            font-size: 1.1em;
            font-weight: 500;
            margin: 0 20px 10px 0;
            text-align: left;
          }
          img {
            height: 20px;
          }
        }
        .service {
          display: flex;
          span.description {
            flex: 1;
            text-align: left;
          }
          span.rate {
            font-size: 1.1em;
            font-weight: 500;
          }
        }
        &.selected {
          background-color: var(--color-selected-button);
          border: 1px solid var(--color-primary);
        }
      }
      button:hover:not(:focus) {
        border: 1px solid;
      }
    }

    .summary-payment {
      .summary {
        font-size: 1.2em;
        border: 1px solid var(--color-accent);
        border-radius: 15px;
        margin: 5px;
        padding: 15px 25px 15px 25px;

        div {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          margin: 0 0 3px 0;

          span.item {
            flex: 1;
          }

          span.currency {
            font-size: 0.8em;
          }

          span.amount {
          }
        }
      }
      .mobile & {
        width: 342px;
      }
    }
  }
}
