  <div class="header">
    <mat-icon>payment</mat-icon>
    <h2>Secure payment</h2>
  </div>

  <div class="payment">
    <div class="shipping">
      <div class="heading">Shipping Options</div>
      <ng-container *ngIf="shippingOptions.length > 0; else noShippingOptions">
        <button class="shipping-option" *ngFor="let option of shippingOptions" [ngClass]="{selected: (checkoutService.shippingOption === option)}" (click)="onSelectShipping($event, option)">
          <div class="carrier">
            <span>{{option.carrier}}</span>
            <img src="{{'/assets/images/shipping/' + getCarrierLogo(option.carrier)}}">
          </div>
          <div class="service">
            <span class="description">{{option.service | replace: '_' : ' '}}&nbsp;{{option.deliveryDays | i18nPlural: pluralMapping['day']}}</span>
            <span class="rate">{{checkoutService.currencyCode}}{{checkoutService.currencySymbol}}&nbsp;{{option.rate  | number:'.2-2'}}</span>
          </div>
        </button>
      </ng-container>
    </div>

    <div class="summary-payment">
      <div class="summary">
        <div class="heading">Order Summary</div>
        <div>
          <span class="item">Subtotal:</span>
          <span class="currency">{{checkoutService.currencyCode}}{{checkoutService.currencySymbol}}&nbsp;</span>
          <span class="amount">{{((checkoutService.subtotal) || 0.00) | number:'.2-2'}}</span>
        </div>
        <div>
          <span class="item">Shipping:</span>
          <span class="currency">{{checkoutService.currencyCode}}{{checkoutService.currencySymbol}}&nbsp;</span>
          <span class="amount">{{((checkoutService.shippingOption?.rate) || 0.00) | number:'.2-2'}}</span>
        </div>
        <div *ngIf="checkoutService.discount > 0">
          <span class="item">Discount:</span>
          <span class="currency">{{checkoutService.currencyCode}}{{checkoutService.currencySymbol}}&nbsp;</span>
          <span class="amount">{{((checkoutService.discount) || 0.00) | number:'.2-2'}}</span>
        </div>
        <div>
          <span class="item">Total before tax:</span>
          <span class="currency">{{checkoutService.currencyCode}}{{checkoutService.currencySymbol}}&nbsp;</span>
          <span class="amount">{{((checkoutService.beforeTaxTotal) || 0.00) | number:'.2-2'}}</span>
        </div>
        <div>
          <span class="item">Tax:</span>
          <span class="currency">{{checkoutService.currencyCode}}{{checkoutService.currencySymbol}}&nbsp;</span>
          <span class="amount">{{((checkoutService.taxTotal) || 0.00) | number:'.2-2'}}</span>
        </div>
        <div class="total">
          <span class="item">Grand Total:</span>
          <span class="currency">{{checkoutService.currencyCode}}{{checkoutService.currencySymbol}}&nbsp;</span>
          <span class="amount">{{((checkoutService.grandTotal) || 0.00) | number:'.2-2'}}</span>
        </div>
      </div>

      <app-square-payment></app-square-payment>

    </div>
  </div>

<ng-template #noShippingOptions>
  <div>Sorry. We are currently unable to ship to your chosen location.</div>
</ng-template>
<ng-template #loading>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" warn type="ball-clip-rotate">
  </ngx-spinner>
</ng-template>
