<form [formGroup]="form">
    <mat-form-field appearance="outline" style="width:100% !important">
        <mat-label>Preferred Name</mat-label>
        <input matInput formControlName="preferredName" value="{{ account.preferredName }}">
        <mat-error *ngIf="form.controls.preferredName.errors?.required">
            Enter your preferred name
        </mat-error>
    </mat-form-field>
</form>