<div class="wishlist">
  <div class="header">
    <h1>Wishlist</h1>
  </div>

  <!-- TODO V2: ▼ DELETE THIS ▼ -->
  <div class="under-construction">
    <div></div>
    <mat-icon>construction</mat-icon>
  </div>

</div>
